<div class='main bg-primary'>
    <%= line_chart @crypto_currency_items, class: 'box',
    options: {
        title: {
        text: "People count by age",
        left: 'center'
        },
    }
    %>
</div>