<div class='main bg-primary'>
  <div class='container bg-color-primary d-flex'>
    <%= line_chart @crypto_currency_items, class: 'box',
      options: {
        title: {
          text: @crypto_currency.fullname,
          left: 'center'
        },
      }
    %>
  </div>
  </div>
</div>