.main {
  height: 93vh;
}

a {
  text-decoration: none;
}

.image-rounded {
  border-radius: 50%;
}

.image-cornered {
  border-radius: 5%;
}

.nav-link {
  &:hover {
    border-bottom: 2px solid black;
    padding: 0 0 2px;
  }
}

.carousel-inner img {
  margin: auto;
}