/* Toutes les variables doivent être placées ici sans exception, ce fichier est chargé dans application.scss, de plus
ce fichier doit contenir l'utilisation de ces variables dans des classes */

// Variables
$landing-page-navbar-background-color:  #06060b;

// Backgrounds
.bg-landing {
  background: url("landing-background.svg") no-repeat center/cover;
}

.bg-navbar {
  background-color: $landing-page-navbar-background-color;
}
